body{
    background-color: #EAC;
    font-family: sans-serif;
}
.mainBox{
    max-width: 400px;
    background-color: white;
    height: 520px;
    margin: auto;
    margin-top: 75px;
    border-radius: 25px;
    text-align: center;
    padding-top: 15px;
}
input{
    font-size: 20px;
    width: 325px;
    padding:7px 10px;
    margin: 12px;
    border-radius: 17px;
}
input[type='submit']{
    background-color: rgb(116, 98, 175);
    border: none;
    color: whitesmoke;
    font-size: 22px;
}
input:focus{  /*when we type*/
    background-color: rgb(193, 214, 214);
}
input[type='submit']:hover{
    opacity: 0.9;/*blurr*/
}
.errorText{
    color:red;
    font-size: 15px;
}